.container {
    
    margin: 0 auto;
    padding: 20px 0;
    width: 96%;
}

.formulario {

    margin-bottom: 16px;
}

.formulario label {

    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.formulario .formulario-input {

    border-radius: 5px;
    box-shadow: 1px 1px 10px #48A2A6; 
    display: block;
    font-size: 20px;
    padding: 5px;
    width: 100%;
}

.botao {
    
    background-color: #48A2A6;
    border-radius: 8px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    display: inline-block;
    font-size: 18px;
    padding: 25px 50px;
    text-decoration: none;
    transition: background-color 0.5s;
}

.botao:hover {

    background-color: #1e6d70;

}