.cabecalho {

    background: url(../img/destaque.jpeg) no-repeat;
    background-size: cover;
    padding-top: 32px;
}

.cabecalho .cabecalho-menu {

    text-align: center;
}

.cabecalho .cabecalho-menu .menu-item {

    display: inline-block;
    margin: 0 2px 32px 0;
}

.cabecalho .cabecalho-menu .menu-item a {

    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color: white;
    padding: 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.5s;
}

.cabecalho .cabecalho-menu .menu-item a:hover {

    background-color: #48A3A6;
}

.cabecalho .jumbotron {

    padding: 0 0 44px 0;
    text-align: center;
    text-transform: uppercase;
}

.cabecalho .cabecalho-principal {

    color: white;
    text-shadow: 4px 4px 10px black;
}

.cabecalho .jumbotron .cabecalho-titulo {

    font-size: 3em;
}

.cabecalho .jumbotron .cabecalho-subtitulo {
    
    color: #adff2f;
    font-size: 2.6em;
    margin-top: 8px;
}

.cabecalho .jumbotron .cabecalho-inscrever {

    margin-top: 28px;
}

@media(min-width: 650px) {

    .cabecalho .jumbotron {

        font-size: 28px;
    }
            
}